pytorch-faster-rcnn
src/frcnn
motchallenge-devkit

# C/C++ compiler
*.so
*.a
*.o
*.out
*.obj

# C Extensions
*.so

# Python
*.py[cod]
*$py.class
.python-version
__pycache__

# MacOSX
.DS_Store
._.DS_Store
._*

# Visual Studio Code
.vscode
