cffi==1.10.0
cycler==0.10.0
Cython==0.26
easydict==1.7
h5py==2.7.0
matplotlib==1.5.3
menpo==0.8.1
mpmath==0.19
numpy==1.13.1
olefile==0.44
opencv-python==3.3.0.9
Pillow==4.2.1
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
scipy==0.19.1
six==1.10.0
sympy==1.1.1
torch==0.2.0.post3
torchvision==0.1.9
