cffi==1.10.0
Cython==0.26
decorator==4.1.2
easydict==1.7
h5py==2.7.0
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
mpmath==0.19
numpy==1.13.1
olefile==0.44
opencv-python==3.3.0.9
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
PyYAML==3.12
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
sympy==1.1.1
torch==0.2.0.post3
torchvision==0.1.9
traitlets==4.3.2
wcwidth==0.1.7
