absl-py==0.6.1
astor==0.7.1
cffi==1.12.2
configparser==3.7.4
cycler==0.10.0
Cython==0.29.2
docopt==0.6.2
easydict==1.9
enum34==1.1.6
funcsigs==1.0.2
gast==0.2.0
greenlet==0.4.15
grpcio==1.16.1
h5py==2.8.0
intel-openmp==2018.0.3
jsonpickle==0.9.6
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
matplotlib==2.1.2
mock==2.0.0
msgpack==0.6.0
munch==2.3.2
neovim==0.3.1
numpy==1.16.2
opencv-python==4.0.1.*
pandas==0.24.2
Pillow==5.1.0
protobuf==3.6.1
py-cpuinfo==5.0.0
pycparser==2.19
pynvim==0.3.1
pyparsing==2.3.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==4.2b1
sacred==0.7.4
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.12.0
tensorboard==1.12.0
tensorboardX==1.6
tensorflow-gpu==1.1.0
termcolor==1.1.0
torchvision==0.2.0
tornado==5.1.1
trollius==2.1.post2
virtualenv==15.1.0
Werkzeug==0.14.1
wrapt==1.11.1
